@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme inline {
  --color-brand-paper: #F4F1EA;
  --color-brand-moss: #7A6552;
  --color-brand-mossDeep: #A48D78;
  --color-brand-sage: #CBB9A4;
  --color-brand-sand: #E6DAC8;
  --color-brand-line: #E8E4DA;
  --color-brand-warn: #C27D65;
  --font-sans: 'Work Sans', sans-serif;
}

body {
  background-color: var(--color-brand-mossDeep);
  -webkit-tap-highlight-color: transparent;
}

/* Fix input overflow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
